<%= @snack.name %>
<%= @snack.price %>
<% @snack.machines.each do |machine| %>
  <section id="machine-<%= machine.id %>">
    <%= machine.location %>
    <%= machine.average_snack_price %>
    <%= machine.snack_count %>
  </section>
<% end %>